<%= form_for(@organization) do |f|%>
  <div class="field">
    <%= f.label "Organization name:" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Organization description:" %>
    <%= f.text_area :description, :rows => 5 %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Organization", :class=>"btn btn-primary btn-large" %>
  </div>
<% end %>
