<h1>Make a contribution</h1>

<%= form_for @transaction do |f| %>
  <% if @transaction.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :organization_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :stripe_card_token %>

  <div class="field">
    <%= f.label :amount, "Monthly Contribution.  You may cancel at anytime" %>
    <%= f.text_field :amount, :placeholder => "$" %>
  </div>
  <% if @transaction.stripe_card_token.present? %>
    Credit card information has already been provided.
  <% else %>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, :name => nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, :name => nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {:add_month_numbers => true}, {:name => nil, :id => "card_month"} %>
      <%= select_year nil, {:start_year => Date.today.year, :end_year => Date.today.year+5}, {:name => nil, :id => "card_year"} %>
    </div>
  <% end %>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. Please enable it in your web browser settings.</noscript>
  </div>
  <div class="actions">
    <%= f.submit "Contribute!", :class => "btn btn-primary" %>
  </div>
<% end %>

<%=debug @transaction %>
