<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tithe" %></title>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_TEST_KEY %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <%= render 'layouts/header' %>
    
    <div class="container">
      <div class="content">
        <div class="row">
           <div class="span12">
              <%= yield %>
            </div>
        </div><!--/row-->
      </div><!--/content-->
  </br></br>
  <div class="row">
    <div class="span1">
          <%= image_tag("icon.png") %>
        </div>
        <div class="span3">
          <h3>Step 1</h3>
          <p>Find the organizations and agencies that you want to support.  Our extensive database offers unique insights into each organization's services.</p>
        </div>
       <div class="span1">
          <%= image_tag("icon.png") %>
       </div>
       <div class="span3">
          <h3>Step 2</h3>
          <p>Tithe's easy-to-use interface allows you to make a one-time contribution or a monthly payment.  Cancel at anytime.</p>
        </div>
        
        <div class="span1">
          <%= image_tag("icon.png") %>
        </div>
        <div class="span3">
          <h3>Step 3</h3>
          <p>Receive regular updates on how your supported organizations are doing.  Meet and communicate with others who share similar interests.</p>
        </div>
    </div>
  <p></p>
    <%= render 'layouts/footer' %>
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>

  </body>
</html>
